<div class="block">
  <%= image_tag 'bg4.png', width: '100%', class: 'block_background'%>
  <p class="heading heading-center">К тому же мы сотрудничаем с:</p>
  <div class="logo_list">
    <%= image_tag 'logo_of_company.png'%>
    <%= image_tag 'logo_of_company.png'%>
    <%= image_tag 'logo_of_company.png'%>
    <%= image_tag 'logo_of_company.png'%>
  </div>
</div>