<div class="block">
  <%= image_tag 'bg3.png', width: '100%', class: 'block_background' %>
  <div class='text_block_right'>
    <%= image_tag 'text-block_back.png', class: "bg_img" %>
    <p class="heading heading-center">Почему мы?</p>
    <%= image_tag 'line.png', class: 'line_in_block' %>
    <div class="text_in_block galochka">
      <p><%= image_tag 'galochka.png'%>Lorem ipsum dolor sit amet</p>
      <p>  <%= image_tag 'galochka.png'%>Ut enim ad minim veniam</p>
      <p><%= image_tag 'galochka.png'%>Quis nostrud exercitation ullamco</p>
      <p><%= image_tag 'galochka.png'%>Duis aute irure dolor in reprehenderit in voluptate </p>
      <p><%= image_tag 'galochka.png'%>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
</div>