<% provide(:title, "Главная") %>

<div class="content">
  <%= render partial: "/static_pages/call_back_btn" %>
  <%= render partial: "/static_pages/welcome_bl" %>
  <%= render partial: "/static_pages/slider_bl" %>
  <%= render partial: "/static_pages/why_we_block" %>
  <%= render partial: "/static_pages/we_cooperate_with_block" %>
  <%= render partial: "/static_pages/our_guarantees_block" %>
  <%= render partial: "/static_pages/make_an_order_block" %>
</div>
