<div class="content">
  <div class="flexible_block">
    <%= image_tag 'backgr_short.png', width: '100%', class: 'block_background' %>
    <div class="articles">
      <% @article.each do |article| %>
        <div class="article">
          <div class="picture">
            <%= image_tag 'news_picture.png'%>
          </div>
          <div class="heading news_header">
            <%= article.title %>
          </div>
          <div id="text" class="date"><%= article.date %></div>
          <div id = "text" class="article_text"><%= article.text %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
