<% provide(:title, "Редактирование профиля") %>
<div class="personal_cabinet">
    <div class = "edit_block">
      <div class="form">
        <h1 class="heading">Редактировать профиль</h1>
        <%= render 'shared/error_messages' %>
        <%= form_for(@user) do |f| %>

          <%= f.text_field :name, placeholder: 'ФИО'%>

          <%= f.email_field :email, placeholder: 'e-mail' %>

          <%= f.text_field  :company_name, placeholder: 'Компания' %>

          <%= f.text_field  :phone_num, placeholder: 'Номер телефона' %>

          <%= f.password_field :password, placeholder: 'Пароль'  %>

          <%= f.password_field :password_confirmation, placeholder: 'Повторите пароль'  %>

          <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank">Изменить</a>
          </div>
          <%= f.submit "Сохранить изменения", class: "btn_green" %>
          <%= link_to "Поменять пароль", "#" %>
        <% end %>
      </div>
    </div>
</div>





