<% provide(:title, 'Sign up') %>
<div>
  <%= image_tag 'entry_bg.png', class: 'block_background'  %>
  <div class = "registration_block">

      <div class="form">
        <h1 class="heading">Регистрация</h1>
        <%= render 'shared/error_messages' %>
        <%= form_for(@user) do |f| %>

          <%= f.text_field :name, placeholder: 'ФИО'%>

          <%= f.email_field :email, placeholder: 'e-mail' %>

          <%= f.text_field  :company_name, placeholder: 'Компания' %>

          <%= f.text_field  :phone_num, placeholder: 'Номер телефона' %>

          <%= f.password_field :password, placeholder: 'Пароль'  %>

          <%= f.password_field :password_confirmation, placeholder: 'Повторите пароль'  %>

          <%= f.submit "Зарегистрироваться", class: "btn_green" %>
        <% end %>
      </div>
   </div>
</div>
