<%= form_for(@order) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :address, placeholder: "address..." %>
    <%= f.text_field :payment_method, placeholder: "payment_method..." %>
    <%= f.text_field :delivery_method, placeholder: "delivery_method..." %>
    <%= f.text_area :comment, placeholder: "comment..." %>
  </div>
  <%= f.submit "Далее", class: "btn btn-primary" %>
<% end %>
