<div class="order">
  <li>
    <div class="avatar">
      <%= image_tag image_path("box.png") %>
    </div>
    <div class="col">
      <span class="user_name"><%= link_to order.user.name, order.user %></span>
    </div>
    <div class="col">
    <span class="order_heading">Заказ №<%= order.id %></span>
    </div>
    <div class="col">
      <%= order.created_at.strftime("%d.%m.%Y") %>
    </div>
    <div class="col">
      <%= link_to "Показать", order_path%>
    </div>
    <div class="col">
        <%= link_to "Удалить", order, method: :delete, data: { confirm: "Вы уверены?" } %>
    </div>

    <div class="col">
      <span id="button_type1">В обработке</span>
    </div>
  </li>
</div>
