<!DOCTYPE html>
<html>
<head>
  <title>ПакСтандарт</title>
</head>

<body>

<div class="content">
  <div id="call_back">
    <%= image_tag 'call_back.png'%>
  </div>
  <div class="block">
    <%= image_tag 'bg1.jpg', width: '100%', class: 'block_background' %>

    <div class="header">
      <%= render partial: "/header_unauthorized_user" %>
    </div>

    <div id='text_block_left' style="top: 18%; height: 70%;">
      <%= image_tag 'text-block_back.png', class: "bg_img" %>
      <p id="heading" class="heading-center">Завод ПакСтандарт</p>
      <%= image_tag 'line.png', class: 'line_in_block' %>
      <div id="text_in_block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur.</p>

        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</p>
      </div>
      <a href="#" class="button_center" id="button_type2">ЗАКАЗАТЬ</a>
    </div>


  </div>

  <div class="block">
    <%= image_tag 'bg2.png', width: '100%', class: 'block_background' %>
    <p id="heading" class="heading-center">Наша продукция</p>
    <%= image_tag 'line.png', class: 'line' %>
    <div id="carousel" class="carousel">
      <div class="arrow prev"> <%= image_tag 'left-arrow.png'%></div>
      <div class="gallery">
        <ul class="images">
          <li><%= image_tag '1.png', id: "it"%></li>
          <li><%= image_tag '2.png' %></li>
          <li><%= image_tag '3.png' %></li>
          <li><%= image_tag '1.png' %></li>
          <li><%= image_tag '2.png' %></li>
          <li><%= image_tag '3.png' %></li>
          <li><%= image_tag '1.png' %></li>
        </ul>
      </div>
      <div class="arrow next"> <%= image_tag 'right-arrow.png'%></div>
    </div>
    <div id="wide_text_block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

  </div>

  <div class="block">
    <%= image_tag 'bg3.png', width: '100%', class: 'block_background' %>
    <div id='text_block_right'>
      <%= image_tag 'text-block_back.png', class: "bg_img" %>
      <p id="heading" class="heading-center">Почему мы?</p>
      <%= image_tag 'line.png', class: 'line_in_block' %>
      <div id="text_in_block" class="galochka">
        <p><%= image_tag 'galochka.png'%>Lorem ipsum dolor sit amet</p>
        <p>  <%= image_tag 'galochka.png'%>Ut enim ad minim veniam</p>
        <p><%= image_tag 'galochka.png'%>Quis nostrud exercitation ullamco</p>
       <p><%= image_tag 'galochka.png'%>Duis aute irure dolor in reprehenderit in voluptate </p>
        <p><%= image_tag 'galochka.png'%>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </div>

  <div class="block">
    <%= image_tag 'bg4.png', width: '100%', class: 'block_background'%>
    <p id="heading" class="heading-center">К тому же мы сотрудничаем с:</p>
    <%= image_tag 'line.png', style: 'top:22%', class: 'line' %>
    <div class="logo_list">
    <%= image_tag 'logo_of_company.png'%>
    <%= image_tag 'logo_of_company.png'%>
    <%= image_tag 'logo_of_company.png'%>
    <%= image_tag 'logo_of_company.png'%>
    </div>
  </div>

  <div class="block">
    <%= image_tag 'bg5.png', width: '100%', class: 'block_background' %>
    <div id='text_block_left'>
      <%= image_tag 'text-block_back.png', class: "bg_img"%>
      <p id="heading" class="heading-center">Наши гарантии</p>
      <%= image_tag 'line.png', class: 'line_in_block' %>
      <div id="text_in_block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur.</p>

        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</p>
      </div>

    </div>
  </div>

  <div class="block">
    <%= image_tag 'bg6.png', width: '100%', class: 'block_background' %>
    <p id="heading" class="heading-left">Вы можете оформить заказ прямо сейчас!</p>
    <a href="#" class="button_right" id="button_type2">ЗАКАЗАТЬ</a>
  </div>

  <div class="block">
    <%= render partial:'/footer'%>
  </div>
</div>
</body>
</html>