<%= image_tag 'Фон шапки.png', width: '100%', class: 'header_bg' %>
<%= image_tag 'Лого.png', class: 'logo' %>

<ul id="menu">
  <li><a href="#">Главная</a></li>
  <li><%= image_tag 'point.png' %></li>
  <li><%= link_to 'Новости', controller: 'articles' %></li>
  <li><%= image_tag 'point.png' %></li>
  <li><a href="#">Прайс</a></li>
  <li><%= image_tag 'point.png' %></li>
  <li><a href="#">Контакты</a></li>
</ul>
<div id="buttons">
  <a href="#" id="button_type1">Вход</a>
  <a href="#" id="button_type1">Регистрация</a>
</div>